.input-block {
  position: relative;
  /* padding-top: 13px; */
}

.input-block + .input-block {
  /* margin-top: 1.4rem; */
}

.input-block label {
  font-size: 1.4rem;

  pointer-events: none;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 1.2rem;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  padding: 0.5rem;
  box-sizing: border-box;
}

.input-block input {
  width: 100%;
  height: 6.8rem;
  margin-top: 0.1rem;
  border-radius: 0.6rem;

  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);

  outline: 0;
  padding: 1rem 1.6rem 0;

  font: 1.6rem Archivo;

  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-appearance: none;
}

.input-block input:focus {
  border: 1px solid var(--color-primary);
}

.input-block input::placeholder {
  color: transparent;
}

.input-block input:focus + label,
.input-block input:not(:placeholder-shown) + label {
  font-size: 1.2rem;
  top: 0.5rem;
  color: var(--color-primary-dark);
}
